
.h1 {
  font-size: 25px;
  float: left;
  width: 100%;
  font-family: 'Nothing You Could Do', cursive;
  margin-top: 0em;
  margin-left: 9px;
  margin-right: 15px;
  letter-spacing: 0;
  margin-bottom: 0cm;
  color: rgb(33, 27, 75);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding:3px;
  grid-template-rows:    repeat(12, 62px);
  grid-template-columns: repeat(12, 119px);
  margin-bottom: -66em;
}
.grid-item {
  border: 0.6px solid rgba(0, 0, 0, 0.92);
  opacity: 70%;
  padding: 0px;
}

.bird {
  width: 10%;
  float: right;
  padding-right: 500px;
}

audio {
  width: 100px;
  float: right;
  margin-top: -1em;
}




